html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #2a2a2f;
}

.coin_app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  color: #fff;
}

/* Layout CSS */
.layout {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}
.coin_logo {
  width: 250px;
  height: auto;
  display: block;
  margin: 3rem 0;
}
